@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
    background: #efefef;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

#toolbar {
    background: #1976D2;
    display: block;
    height: 3rem;
    box-shadow: 0 0 1rem black;
    color: white;
    padding: 0 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    .address {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .time {
        float: right;
    }
}

#sentenceSpace {
    text-align: center;
    .sentence {
        font-size: 2rem;
        color: #555;
        border-bottom: 1px solid #222;
    }
    margin-bottom: 4rem;
}

#bottomSpace {
    display: flex;
    padding: 1rem;
    text-align: center;
    .help {
        text-transform: uppercase;
        font-size: 0.95rem;
        color: #555;
        border-bottom: 1px solid #333;
    }
    #scores {
        flex: 1;
        max-width: 20rem;
        .scoreWrap {
            display: block;
            text-align: center;
            .score {
                display: inline-block;
                height: 8rem;
                width: 8rem;
                border-radius: 4rem;
                line-height: 8rem;
                font-size: 3rem;
                color: white;
            }
            .smallscore {
                display: inline-block;
                height: 5rem;
                width: 5rem;
                border-radius: 2.5rem;
                line-height: 5rem;
                font-size: 1.5rem;
                color: #eee;
            }
        }
        .score.p2 {
            background: #FF9800;
        }
        .smallscore.p2 {
            background: lighten(#FF9800, 10%);
        }
        .score.p1 {
            margin: 3rem 0;
            background: #03A9F4;
        }
        .smallscore.p1 {
            background: lighten(#03A9F4, 10%);
        }
    }
    #braille_reference {
        flex: 2;
    }
}

#loadingScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5rem;
    text-align: center;
    h1 {
        font-weight: 300;
        margin-bottom: 3rem;
    }
    button {
        font-size: 1.5rem;
        padding: 1rem;
    }
}